h1 {
    font-family: 'Major Mono Display', monospace;
    height: 200px;
    color: white;
}

button {
    border: none;
    background-color: #246e3a;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
body{
    background: url(andrew.png);
    /* background-color: rgb(22, 22, 22); */
    /* position: relative; */
}
